<div class="content">
    <!--

        Á eftir að smíða betra viðmót til að móta profile, ætla reyna höfða þetta til krakka.
        TODO: messageboard.

     -->
<form>
    <fieldset>
        <legend>Prófíll</legend>

        <label>
            <span>Nafn:</span>
            <input type="text" name="name" ng-model="profile.name"/>
        </label>
        <br>
        <label>
            <span>Nafn:</span>{{profile.name}}
        </label>
        <br>
        <label>
            <span>Email:</span>{{profile.email}}
        </label>
    </fieldset>
</form>

<form>
    <fieldset>
        <legend>Breyta lykilorði:</legend>

        <label>
            <span>Gamla lykilorðið:</span>
            <input type="password" ng-keypress="clear()" ng-model="oldpass"/>
        </label>

        <label>
            <span>Nýja lykilorðið:</span>
            <input type="password" ng-keypress="clear()" ng-model="newpass"/>
        </label>

        <label>
            <span>Staðfesta lykilorðið:</span>
            <input type="password" ng-keypress="clear()" ng-model="confirm"/>
        </label>

        <button type="button" class="btn btn-info" ng-click="changePassword(oldpass, newpass, confirm)">Breyta lykilorði</button>

        <p class="error" ng-show="err">{{err}}</p>
        <p class="good" ng-show="msg">{{msg}}</p>
    </fieldset>
</form>

<form>
    <fieldset>
        <legend>Breyta um netfang</legend>

        <label>
            <span>Nýtt netfang:</span>
            <input type="text" ng-keypress="clear()" ng-model="newEmail"/>
        </label>

        <label>
            <span>Lykilorð:</span>
            <input type="password" ng-keypress="clear()" ng-model="pass"/>
        </label>

        <button type="button" class="btn btn-info" ng-click="changeEmail(pass, newEmail)">Uppfæra netfang</button>

        <p class="error" ng-show="emailerr">{{emailerr}}</p>
        <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
    </fieldset>
</form>
<br>
<button type="button" class="btn btn-danger" ng-click="logout()">Log Out</button>

</div>